<div class="toolbar" role="banner" >
  <div id="headerid" class="header">
    <img id="heroimageId" [ngClass]="topscroll ? 'heroimage' : 'herosmall'" src="../assets/media/hero.jpg" alt="logo" aria-label="website logo">  
    
    <div id="navbar">
        <a href="https://www.instagram.com/dsignlb/"> <img src="../assets/media/instagram-logo.jpg" aria-label="instagram" alt="instagram logo" height="42" width="42"> </a>
        <a href="https://www.facebook.com/dsignlb/"> <img src="../assets/media/facebook-logo.jpg" aria-label="facebook" alt="facebook logo" height="42" width="42"> </a>
        <a  href="https://www.linkedin.com/in/dsignlb-graphics-and-architecture-1444531a5/"> <img src="../assets/media/linkedin-logo.jpg" aria-label="linkedin" alt="linkedin logo" height="42" width="42"> </a>
      </div>
  </div>   
</div>

<div class="contentpadding" role="main" detect-scroll (onScroll)="onScroll($event)" [bottomOffset]="200" [topOffset]="150">

<app-slideimages title="Academia" comment="Ademic Designs" imageRoute="../assets/media/academia/" imageCount=7>
</app-slideimages>
<app-slideimages title="Branding Design" comment="Branding Design" imageRoute="../assets/media/branding_design/" imageCount=3>
</app-slideimages>    
<app-slideimages title="Casa Tequila" comment="Restaurant Design" imageRoute="../assets/media/casa_tequila/" imageCount=3>
</app-slideimages>    
<app-slideimages title="Septeto Santiaguero" comment="Grammy winner musical band Design" imageRoute="../assets/media/septeto_santiaguero/" imageCount=5>
</app-slideimages>    
 
</div>

  <!-- Footer -->
<footer>
  <p>Develop by Angel Bello</p>
</footer>

